.container {
    display: grid;
    grid-template-rows: auto min-content 10px;
    align-items: flex-end;
    border-radius: var(--bor_contentRadius);
    overflow: hidden;
    background-color: var(--col_elementsBackground);
}

.container:hover {
    background-color: var(--col_elementsBackgroundHover);
}

.flagContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flagContainer img {
    width: 100%;
    height: auto;
}

.additionalInfo {
    margin: 0 10px
}

.additionalInfo p:first-child {
    margin: 15px 0;
    font-size: 1.125rem;
    font-weight: 700;
}

.additionalInfo p{
    margin: 5px 0;
    font-size: 0.875rem;
    font-weight: 300;
}

.additionalInfo span {
    font-weight: 600;
}