.container {
    display: grid;
    grid-template-rows: 140px auto;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--mar_containerContent);
}

.countriesList {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    margin: var(--mar_containerContent);
}

.CountryComponent{
    flex: 0 1 20%;
}