.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: var(--col_elementsBackground);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: var(--mar_containerContent)
}

.modeSwitcher {
    display: flex;
    gap: 10px;
}