/* RESET */
button {
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

a {
  margin: 0;
  text-decoration: none;
}

/* CSS */

:root {
  /* Colors */
  /* 
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) 
*/

  --col_appBackground: hsl(207, 26%, 17%);
  --col_elementsBackground: hsl(209, 23%, 22%);
  --col_inputBackground: hsl(207, 26%, 17%);
  --col_text: hsl(0, 0%, 100%);
  /* Margins */
  --mar_containerContent: 0 80px;
}

body {
  margin: 0 0;
  background: var(--col_appBackground);
  font-family: 'Nunito Sans';
  font-weight: 600;
  color: var(--col_text);
}

button,
a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--col_text);
}

p, 
li {
  font-weight: 300;
}

li {
  font-size: 0.9rem;
}